body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #283149;
}

/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    font-size: 5rem;
    color: #dbedf3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #da0463;
    margin-bottom: 90px;
    padding: 20px;
}



img {
    width: 100px;
    margin-bottom: 50px;
}

.A {
    margin-left: -10px;
}

.S {
    margin-left: -16px;
}

.D {
    margin-left: -38px;
}

.F {
    margin-left: -10px;
}

.G {
    margin-left: -16px;
}

.H {
    margin-left: -38px;
}

.J {
    margin-left: -10px;
}

.K {
    margin-left: -16px;
}

.L {
    margin-left: -38px;
}


footer {
    color: #DBEDF3;
    font-family: sans-serif;
    margin-bottom: 25px;
}

@media (max-width:750px) {
    .phone {
        transform: rotate(90deg);
        width: 800px;
        /* height: 100px; */
        /* transform: rotateY(90deg); */
        margin-top: 200px;
    }

    h1 {
        font-size: 2rem;
        color: #dbedf3;
        font-family: "Arvo", cursive;
        text-shadow: 3px 0 #da0463;
        margin-bottom: 25px;
        padding: 20px;
    }

    img {
        width: 90px;
        margin-bottom: 50px;
    }
}